#!/bin/bash

# Dynamically load Homebrew
{{ if eq .chezmoi.os "darwin" }}
	eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" }}
	eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

echo "Packages installation starting..."

HOMEBREW_BUNDLE_NO_LOCK=1 brew bundle --file={{ joinPath .chezmoi.sourceDir ".chezmoitemplates/Brewfile" | quote }}

echo "Packages installation complete!"
