#!/usr/bin/env bash

# Dynamically load Homebrew
{{ if eq .chezmoi.os "darwin" }}
	eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" }}
	eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

# Bail if brew isn't installed yet
if ! command -v brew &> /dev/null; then
	echo "⏭️ Homebrew not found. Skipping dependency overrides."
	exit 0
fi

echo "🔀 Installing dependency overrides..."

# Batch run via an inline Brewfile definition
NONINTERACTIVE=1 HOMEBREW_BUNDLE_NO_LOCK=1 brew bundle --file=- <<EOF
{{ template "Brewfile-overrides" . }}
EOF

echo "✅️ Dependency overrides are installed!"
