#!/usr/bin/env bash

# Dynamically load Homebrew
{{ if eq .chezmoi.os "darwin" }}
	eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" }}
	eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

echo "📦️ Installing packages..."

HOMEBREW_BUNDLE_NO_LOCK=1 brew bundle --file={{ joinPath .chezmoi.sourceDir ".chezmoitemplates/Brewfile-packages" | quote }}

echo "✅️ Packages are installed!"
