{{- $onepasswordCmd := includeTemplate "onepassword-cmd" . -}}
{{- if lookPath $onepasswordCmd }}
{{ onepasswordRead .ssh_conf }}
{{- end }}

Host *
	IdentityAgent env:SSH_AUTH_SOCK
	ForwardAgent yes
	ControlMaster auto
	ControlPath ~/.ssh/control/%r@%h:%p
	ControlPersist 10m
